/* cores da ufop */
/* 616568 */
/* 941c34 */

body {
    background: #000000;
    color: #FFFFFF;
}

.columntwo {
    float: left;
    width: 50%;
    padding: 15px;
}

.columntree {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .columntree {
        width: 100%;
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
/*        text-decoration: underline;*/
    }

    h3 {
        font-size: 15px;
        margin: 10px;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (min-width:600px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 23px;
/*        text-decoration: underline; */
    }

    h3 {
        font-size: 20px;
        margin: 10px;
    }

    p {
        font-size: 20px;
    }
}

header, footer{
    padding: 10px;
    border: 10px solid #941c34;
    margin: 5px 20px;
    background: #1C1C1C;
    border-radius: 0px 50px 0px 50px;
    text-align: center;
}

section {
    padding: 15px;
    border: 10px solid #616568;
    margin: 5px 20px;
    background: #000000;
    border-radius: 0px 50px 0px 50px;
    text-align: center;
}

article {
    text-align: justify;
    margin: 30px 30px;
    line-height: 30px;
}

p {
    margin-bottom: 10px;
}

p.comandos {
    margin-bottom: 40px;
    color: #FFFFFF;
    font-family: monospace;
    border: 3px dashed #616568;
    padding: 10px 50px;
}

footer {
    text-align: center;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #616568;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #616568;
}

/* mouse over link */
a:hover {
    color: #941c34;
    text-decoration: underline;
    text-decoration-color: #941c34;
}

/* selected link */
a:active {
    color: #616568;
    text-decoration: underline;
    text-decoration-color: #616568;
}

/*
p.teste {
    background-color: #0000FF;
    font-family: arial;
    font-size: 20px;
    text-align: justify;
    border: solid 1px #FFFFFF;
    border-bottom: solid 5px #00ff00;
    border-left: solid 5px #00ff00;
    border-radius: 0px 10px 20px 30px;
    margin: 10px 30px;
    padding: 10px 20px;
}
*/
